beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
idna==2.10
openpyxl==3.0.7
pandas==1.2.3
pd==0.0.1
requests==2.25.1
selenium==3.141.0
setuptools-git==1.2
termcolor==1.1.0
tqdm==4.60.0
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
